@import "tailwindcss";


.auth-input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,0.1);
  font-size: 14px;
  outline: none;
}

.auth-input:focus {
  border-color: #000;
}
.auth-dark-input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  background: #102a4d;
  border: 1px solid rgba(255,255,255,0.1);
  color: white;
  font-size: 14px;
  outline: none;
}

.auth-dark-input::placeholder {
  color: #9ca3af;
}

.auth-dark-input:focus {
  border-color: #3b82f6;
}
